
.header{
  background-image: url("/Images/matches.png");
  background-repeat: no-repeat;
  background-size: cover;
width: 100%;
height: 500px;
margin-top:60px

}
.title{
  color: white;
  text-align: center;
  padding-top: 80px;
 
}